body{

    text-align: center;
    background-color: antiquewhite;
}

label{

    display: block;
    padding-bottom: 1rem;
}

#output-box {

color: red;
padding-top: 1rem;

}

#submit-btn{

    background-color: burlywood;
    
}